# Aprendendo data science com alura / Filipe

In [6]:
import pandas as pd
filmes = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.3/movies.csv")
notas = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.3/ratings.csv")
notas = notas.drop('timestamp', axis=1)
display(filmes.head())
display(notas.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [9]:
print(notas["rating"].unique())
print(notas["rating"].mean())
print(notas["rating"].min())
print(notas["rating"].max())

[4.  5.  3.  2.  1.  4.5 3.5 2.5 0.5 1.5]
3.501556983616962
0.5
5.0

In [12]:
# PELO LONGO?
# PERNA CURTA?
# FAZ AUAU?
porco1=[0,1,0]
porco2=[0,1,1]
porco3=[1,1,0]

dog1=[0,1,1]
dog2=[1,0,1]
dog3=[1,1,1]

treino_x=[porco1,porco2,porco3,dog1,dog2,dog3]
treino_y=[1,1,1,0,0,0] #0-cachorro 1-porco

In [13]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC()

In [25]:
animal1 = [1,1,1]
animal2 = [1,1,0]
animal3 = [0,1,1]
teste_x = [animal1,animal2,animal3]
teste_y = [0,1,1]

In [26]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 1, 0])

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(teste_y, previsoes)

0.6666666666666666

In [29]:
df = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv')
df.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [31]:
x = df.drop("bought",axis=1)
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [32]:
y = df['bought']
y

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: bought, Length: 99, dtype: int64

In [92]:
from sklearn.model_selection import train_test_split

modelo = LinearSVC()
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y)

modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)

In [93]:
accuracy_score(teste_y,previsoes)

0.92